.main-modal-container {
    font-family: var(--font-family-1);
    display: none;
    z-index: 999;
}

.main-modal-container.open+* {
    pointer-events: none;
}

.main-modal-container.open {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .75);
}

.main-modal-container>h1 {
    color: white;
}

.beer-modal-container {
    position: absolute;
    display:flex;
    background-color: var(--bg-color-1);
    border: 2px solid var(--text-color-1);
    border-radius: 1rem;
    height: min(700px, 80vh);
    width: 50vw;
}

.beer-modal-img, .beer-modal-desc{
    display:flex;
    justify-content: center;
    align-items: center;
}

.beer-modal-img {
    height:100%;
    width:50%;
    background-color: #1b1a26;;
}

.beer-modal-img > img{
    height:80%;
    border-radius: 1rem;
}

.beer-modal-info {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--bg-color-2);
    height:100%;
    width:50%;
}

.beer-modal-name{
    color:#FFF;
    font-size: 4.5vh;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:1rem;
}

.beer-modal-description{
    text-align: center;
    font-size: 2.2vh;
    color:var(--text-color-1);
    margin-inline: .5rem;
}

.beer-modal-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:.5rem;
    width:95%;
    height:25%;
}

.beer-modal-type{
    display:flex;
    align-items: center;
    font-size: 1.75vh;
    padding:.5rem;
    color:var(--text-color-2);
    border:2px solid #171629;
    border-radius: 1rem;
}