.our-beers-beer{
    padding:1vw;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height:9rem;
    width:9rem;
    background-color: var(--bg-color-2);
    border:1px solid var(--text-color-1);
    border-radius:1rem;
    align-self: center;
    justify-self: center;
    transition:transform .3s ease;
}

.our-beers-beer:hover{
    transform:scale(1.1);
    cursor: pointer;
}

.our-beers-container > .false{
    display:none
}

.our-beers-beer-img > img{
    height:5rem;
    width:1rem;
}

.our-beers-beer-info{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-family-1);
    color:var(--text-color-2);
    font-weight: bold;
    text-align: center;
}

.our-beers-price-rate{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.our-beers-price{
    color:var(--text-color-4)
}

.our-beers-price::after{
    content:' EUR'
    
}