.beer > img{
    width:15%;
    margin-bottom: .5rem;
}

.beer{
    display: flex;
    height:12vw;
    width:12vw;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--bg-color-1);
}

.beer-info{
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-family: var(--font-family-1);
    height:4vh;
    width:100%;
    background-color: var(--bg-color-2);
}

.price, .type{
    font-size: 1vw;
}

.price{
    color:var(--text-color-1);
    margin-left: .3rem;
    width:100%;
}

.type{
    color:var(--text-color-4);
    font-weight: bold;
    margin-right: .3rem;
}

.name{
    height:15%;
    font-size: 1.1vw;
    font-weight: bold;
    font-family: var(--font-family-1);
    text-align: center;
    color:var(--text-color-2);
}


