    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        background-color: var(--bg-color-2);
        height: var(--header-height);
        width: 100vw;
    }

    .header-container>ul {
        margin-right: 2rem;
    }

    .header-item {
        display: inline;
        margin-inline: .5rem;
    }

    .header-item>a {
        position: relative;
        text-decoration: none;
        color: rgb(251, 0, 247);
        font: bold 1.2rem var(--font-family-1)
    }

    .header-item>a::before {
        content: '';
        position: absolute;
        inset: 0 0 0 0;
        background-color: rgb(57, 13, 126);
        transition: transform .2s cubic-bezier(.57, .21, .69, 1.25);
        z-index: -10;
        transform: scaleX(0);
        transform-origin: left;
    }

    .header-item>a:hover::before {
        transform: scaleX(1);
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-left: .5rem;
    }

    .clicked{
        animation:switchClick .3s forwards
    }

    @keyframes switchClick{
        0%{}
        50%{transform:scale(.9)}
        75%{transform:scale(.5)}
        100%{transform:scale(1)}
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        display:flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(70, 0, 84);
        color:#FFF;
        border-radius: 100%;
        border:3px solid #000;
        -webkit-transition: .4s;
        transition: .4s;
    }


    .light-slider{
        background-color: rgb(255, 251, 121);
        color:#000;
    }


    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
